@import url(https://fonts.googleapis.com/css?family=Raleway);

html, body, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);  
  color: #fff;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;

}
* {
  font-family: 'Raleway', sans-serif;
}
.page {
  position: absolute;
}

.petit-format {
  display: none;
}

#t1 {
    z-index: 1;
}

#p1 {
  left: 1;
}

#p2, #p3, #p4, #p5 {
  left: 210%;
  font-family: 'Raleway', sans-serif;
}


#p1 { background-image: url(accueil1.jpeg); 
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      }


#p2 { background: silver; }

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5 {
  transform: translateX(-190%);
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -o-transform: translateX(-190%);
  transition-delay: .4s !important;
}

#t2:target #p1, 
#t3:target #p1,
#t4:target #p1,
#t5:target #p1{
  background: linear-gradient(to top, blue, rgba(0,255,0,0));
}

#t2:target #p1 .icon, 
#t3:target #p1 .icon,
#t4:target #p1 .icon,
#t5:target #p1 .icon {
  -webkit-filter: blur(3px);
}

.icon {
  color: white;
  font-size: 32px;
  display: block;
}

ul .icon:hover {
  opacity: 0.5;
}

#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon,
#t5:target ul .icon{
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  transition-delay: .25s;

}

#t2:target #dos,
#t3:target #tres,
#t4:target #cuatro,
#t5:target #cinco {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}
/*menu*/

#menu {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: 120px;
  height: 280px;
  padding: 10px;
 
 }

 .QSN {
  height: 50px;
 }

#menu .icon {
  margin: 30px 0;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  font-size: 18px;

}

.boutonMenu {
  background-color: #5A4AE8;
  border-radius: 15px 50px 30px;
  border: 1px solid #a1a1a1;
  width: 190px;
  height: 32px;
  padding: 5px;
  padding-left: 15px;
}

.QSN {
  height: 50px;
}

a {
  text-decoration: none;
}

.title, .hint {
  display: block;
}

.title {
  font-size: 38px;
}

.hint {
  font-size: 20px;
}

#p4 .hint {
  display: inherit !important;
}

.hint a {
  color: yellow;
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
}

.hint a:hover {
  color: #FFF;
}

.line-trough {
  text-decoration: line-through;
}

.page .icon, .accueil {
  position: absolute;
  top: 0;
  right: 10%;
  left: 0;
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  line-height: 1.3;
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);

}


.page#p1 .icon {
  height: 220px;
}

.page#p1 .icon {
  transform: translateX(10%) !important;
}

#t2:target .page#p2 .icon,
#t3:target .page#p3 .icon,
#t4:target .page#p4 .icon,
#t5:target .page#p5 .icon {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}
/*page1*/
.blurred-bg {
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.blurred-bg.tinted {
  background-size: 100%;
  background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.box {
  
  top: 10px;
  margin-left: 10px;
  position: absolute;
  border-radius: 5px;
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  transition: box-shadow .3s ease;
  margin-bottom: 50px;
}
.box:active {
  cursor: move;
  -moz-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
}
.box .content {
  margin: auto;
}

.telephone {
  text-decoration: none;
  border-bottom: none;
}
.tinted h3, .tinted p {
  color: white;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}

/*page 2*/
#circle-shape-example { 
  margin-left: 50px; 
  font-size: 15px;
  margin-top: 80px;

}

#circle-shape-example .logo { 
  height: 250px;
  -webkit-shape-outside:circle();
  shape-outside:circle();
  float: left;
  margin-top: 50px;

}

h4 {
  border-bottom: 1px solid white;
  text-align: left;
  color: white;
}

p {
  margin-top: 30px;
  text-align: left;
  margin-left: 250px;

}

/*contact*/

form input {

  background-color: gray;
}

form textarea{
  background-color: gray;
  padding-right: 0;


}

.carte_visite img{
  
margin-top: -500px;
width: 20%;
vertical-align: inherit;
}
.frame{
  width: 600px;
  height: 350px;
  margin: 250px auto 0;
  position: relative;
  background: silver;
  border-radius:0 0 40px 40px; 
}

#button_open_envelope{
  width: 220px;
  height: 50px;
  position: absolute;
  z-index: 311;
  top: 250px;
  left: 208px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  padding:15px; 
  border: 2px solid #fff;
  transition:.3s;
  text-align: center;
}

#subject {
  color: #333;
}

#button_open_envelope:hover{
  background: #FFf;
  color: #2b67cb;
  transform:scale(1.1);
  transition:background .25s, transform .5s,ease-in;
  cursor: pointer;
}

.message{
  position: relative;
  width: 580px;
  min-height:300px;
  height: auto;
  background: gray;
  margin: 0 auto;
  box-shadow: 0 0 5px 2px #333;
  transition:2s ease-in-out;
  transition-delay:1.5s;
  z-index: 300;
}

.gauche,.droit,.haut{width: 0; height: 0;position:absolute;top:0;z-index: 310;}
.gauche{  
  border-left: 300px solid #337efc;
  border-top: 160px solid transparent;
  border-bottom: 160px solid transparent;
}

.droit{ 
  border-right: 300px solid #337efc;
  border-top: 160px solid transparent;
  border-bottom: 160px solid transparent;;
  left:300px;
}

.haut{ 
  border-right: 300px solid transparent;
  border-top: 200px solid #03A9F4;
  border-left: 300px solid transparent;
  transition:transform 1s,border 1s, ease-in-out;
  transform-origin:top;
  transform:rotateX(0deg);
  z-index: 500;
}

.bas{
  width: 600px;
  height: 190px;
  position: absolute;
  background: #2b67cb;
  top: 160px;
  border-radius:0 0 30px 30px;
  z-index: 310; 
}

.open{
  transform-origin:top;
  transform:rotateX(180deg);
  transition:transform .7s,border .7s,z-index .7s ease-in-out;
  border-top: 200px solid silver;
  z-index: 200;
}
.pull{
  -webkit-animation:message_animation 2s 1 ease-in-out;
  animation:message_animation 2s 1 ease-in-out;
  -webkit-animation-delay:.9s;
  animation-delay:.45s;
  transition:1.5s;
  transition-delay:1s;
  z-index: 350;
}
#name,#email,#phone,#messarea,#send{
  margin: 0;
  padding: 0 0 0 10px;
  width: 570px;
  height:45px;
  float: left;
  display: block;
  font-size: 14px;
  color: white;
  border:none;
  border-bottom:1px solid #bdbdbd;
  letter-spacing: normal;
  text-align: center;
}
#messarea{
  height: 117px;
  width: 560px;
  overflow: auto;
  border:none;
  padding: 10px;
}

.typeTravaux {
  padding-left: 150px;
  text-align: center;

}

select {
  border: none;
  border-bottom: 1px solid #bdbdbd;
}

#send{ 
  width:   580px;
  padding: 0; 
  border:  none;
  cursor:  pointer;
  background: white;
  color: gray;
  transition:.35s;
  letter-spacing: 1px;
  border: 1px solid gray;
}
#send:hover{background:tomato;transition:.35s;}

::-moz-placeholder{color: white;font-size: 16px;opacity: 1;} 
::-webkit-input-placeholder {color: white; ;font-size: 16px;}
*:focus {outline: none;}
input:focus:invalid,textarea:focus:invalid {
 
    background: gray;
    box-shadow: 0 0 5px #d45252;
    border:1px solid #b03535;
}
input:required:valid,textarea:required:valid { 
  
    background: gray;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}


@-webkit-keyframes message_animation {
  0%{
    transform:translatey(0px);
    z-index: 300;
    transition: 1s ease-in-out;
  }
  50%{
    transform:translatey(-340px);
    z-index: 300;
    transition: 1s ease-in-out;
  }
  51%{
    transform:translatey(-340px);
    z-index: 350;
    transition: 1s ease-in-out;
  }
  100%{
    transform:translatey(0px);
    z-index: 350;
    transition: 1s ease-in-out;
  }
}
@keyframes message_animation {
  0%{
    transform:translatey(0px);
    z-index: 300;
    transition: 1s ease-in-out;
  }
  50%{
    transform:translatey(-340px);
    z-index: 300;
    transition: 1s ease-in-out;
  }
  51%{
    transform:translatey(-340px);
    z-index: 350;
    transition: 1s ease-in-out;
  }
  100%{
    transform:translatey(0px);
    z-index: 350;
    transition: 1s ease-in-out;
  }
}


footer {
  position: relative;
  z-index: 1;
  
  background: none repeat scroll 0% 0% ;
  font-size: 12px;
  color: #CCC;
  text-align: center;

}

footer h1 {
  position: fixed;
  z-index: 1;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  list-style: outside none none;
  text-align: center;
  font-weight: bold;
  color: #646566;
  font-size: 10px;
  bottom: 0px;
}

.logo_artisan img{

 margin-top: 580px;
 width: 10%;
 height: 20%;
 margin-left: 40px;

}


